.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 6px var(--gray-color);
  height: fit-content;
  padding: var(--spacing-xl);
  gap: var(--spacing-lg);
  margin-bottom: var(--font-size-xl);
}

.surveyIcon {
  width: 2rem;
  height: 2rem;
  color: var(--element-color);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-md);
  border-bottom: 1px solid var(--gray-color);
}

.title {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.info {
  font-size: var(--font-size-lg);
  color: var(--gray-color);
}
