.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 600;
  color: var(--font-color);
}

.container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.icon {
  width: 3rem;
  color: var(--element-color);
}

@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .wrapper {
    width: 95%;
    padding: 0;
    gap: var(--spacing-lg);
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
    padding: 0;
    gap: var(--spacing-md);
  }
}
