.radioLabel {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg) var(--spacing-md);
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  background-color: var(--main-color);
  height: 10vh;
  width: 100%;
}

.radioLabel:hover {
  border-color: var(--element-color);
}

.selected {
  border-color: var(--element-color);
  background-color: #f9f9f9;
}

.radioInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 22px;
  height: 22px;
  border: 2px solid var(--gray-color);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: border-color 0.25s ease, background-color 0.25s ease,
    box-shadow 0.25s ease;
}

.radioInput:hover {
  border-color: var(--element-color);
}

.radioInput:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--element-color);
  transform: scale(1);
  transition: transform 0.2s ease;
}

.radioInput:not(:checked)::before {
  transform: scale(0);
}

.radioText {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--font-color);
}

.radioInput:checked + .radioText {
  color: var(--element-color);
}
