.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: var(--spacing-xxl);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 600;
  color: var(--font-color);
}

.icon {
  width: 3rem;
}

.surveys {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: space-between;
}
