.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: var(--spacing-xl);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 600;
  color: var(--font-color);
}

.icon {
  width: 3rem;
}

.surveys {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: space-between;
}

.empty {
  display: flex;
  align-items: center;
  min-height: 30vh;
}

@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    padding: 0;
    gap: var(--spacing-lg);
  }
  .content {
    flex-direction: column;
  }
}
