.item {
  display: flex;
  gap: var(--spacing-md);
  flex-direction: column;
  min-width: 30%;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-xl) var(--spacing-md);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.02);
}

.itemAddress {
  font-size: var(--font-size-lg);
  color: var(--font-color);
  font-weight: 600;
  border: 1px solid transparent;
  user-select: none;
  cursor: default;
}

.itemPseudonym,
.itemAddress {
  color: var(--font-color);
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  user-select: none;
  cursor: default;
  width: 100%;
  padding: var(--spacing-xs);
  margin: 0;
}

.itemPseudonym {
  font-size: var(--font-size-xxl);
  font-weight: 700;
  user-select: none;
  color: var(--font-color);
  border-bottom: 1px solid var(--gray-color);
}

.changing {
  border: 1px solid var(--font-color);
  background-color: var(--card-background);
  cursor: text;
}

.itemButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
}

.itemButton {
  margin-bottom: auto;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: var(--spacing-xs);
  text-align: center;
  margin: 0;
  padding: 2px;
  color: var(--font-color);
  transition: transform 0.2s ease, color 0.2s ease;
}

.itemButton .icon {
  color: var(--font-color);
  width: 2rem;
  height: 2rem;
  transition: color 0.2s ease;
}

.itemButton:hover {
  transform: scale(1.02);
  color: var(--element-color);
  border: 1px solid transparent;
}

.itemButton:hover .icon {
  color: var(--element-color);
}

.message {
  color: var(--font-color);
}
