.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: var(--spacing-lg);
  padding: var(--spacing-md);
}

.formDisabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
  transition: opacity 0.2s ease;
}

.submitBtn {
  margin-top: var(--spacing-md);
  padding: var(--spacing-sm) var(--spacing-lg);
  background-color: var(--element-color);
  color: var(--main-color);
  font-size: var(--font-size-base);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s ease;
  height: 3rem;
}

.submitBtn:hover {
  transform: scale(1.02);
}

.selectedFilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing-sm);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  box-shadow: 1px 1px 4px var(--gray-color);
  transition: all 0.2s ease;
  overflow: hidden;
  margin: 0;
}

.filter:hover {
  color: var(--element-color);
  border-color: var(--element-color);
}

.filter:hover .filterLabel {
  color: var(--element-color);
}

.filterLabel {
  font-size: var(--font-size-base);
  color: var(--font-color);
}

.filterIcon {
  display: none;
  width: 1rem;
  height: 1rem;
  color: var(--font-color);
  cursor: pointer;
  transition: color 0.2s ease;
}

.filter:hover .filterIcon {
  display: flex;
  color: var(--element-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.clearFiltersButton {
  background-color: var(--main-color);
  border-color: var(--font-color);
  color: var(--font-color);
  height: 3rem;
  transition: transform 0.3s ease;
}

.clearFiltersButton:hover {
  background-color: var(--element-color);
  border-color: transparent;
  color: var(--main-color);
  transform: scale(1.02);
}
