@import './variables.css';

* {
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-color);
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
