.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: var(--spacing-xl);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 95%;
  height: 100%;
}

.submitBtn {
  margin-top: auto;
}

.mapWrapper {
  display: flex;
  width: 95%;
  height: 80vh;
}
