.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  padding: var(--spacing-xxl) 0;
  hyphens: auto;
  word-break: break-word;
}

@media (max-width: 480px) and (orientation: portrait) {
  .textContainer {
    width: 100%;
    padding: var(--spacing-md) var(--spacing-sm);
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1080px) and (orientation: landscape) {
  .textContainer {
    width: 50%;
    padding: var(--spacing-md);
    text-align: left;
  }
}
