.name {
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--element-color);
  margin: 0;
  letter-spacing: 3px;
}

@media (max-width: 480px) and (orientation: portrait) {
  .name {
    font-size: var(--font-size-base);
    letter-spacing: 2px;
  }
}
