.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-xxl);
  min-width: 80%;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: var(--spacing-xxl);
}

.sectionItem1 {
  display: flex;
  flex: 2;
}

.sectionItem2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    gap: var(--spacing-lg);
  }

  .section {
    gap: var(--spacing-lg);
    flex-direction: column;
  }

  .sectionItem2 {
    gap: var(--spacing-lg);
  }
}
