.container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: var(--spacing-xxl); 
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    height: 75vh;
  }
  
.textContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100%;
    width: 40%;
    padding: var(--spacing-xxl) 0;
    hyphens: auto;       
    word-break: break-word;
}

  .name {
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--element-color);
    margin: 0;
    letter-spacing: 3px;
  }
  
  .title {
    font-size: var(--font-size-title-lg);
    font-weight: 700;
    color: var(--font-color);
    line-height: 1.2;
    max-width: 100%;
    margin: 0;
  }
  
  .subtext {
    font-size: var(--font-size-xl);
    color: var(--font-color);
    opacity: 0.8;
    justify-self: flex-end;
  }
    
  .container > :last-child {
    display: flex;
    height: 100%;
  }  

  .features {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
  }
  
  .features li {
    font-size: var(--font-size-sm);
    color: var(--font-color);
    background-color: var(--main-color);
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--font-color);
    border-radius: var(--border-radius);
    color: var(--font-color);
    font-weight: 600;
    transition: background-color 0.2s ease,
        transform 0.2s ease;
  }

  .features li:hover{
    transform: scale(1.05);
  }
