.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  padding: var(--spacing-xxl) var(--spacing-xl);
  gap: var(--spacing-xxl);
  width: 100%;
  border-radius: var(--border-radius);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.or {
  font-size: var(--font-size-xxl);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--element-color);
}

.searchForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--spacing-lg);
}

.searchButton {
  max-width: 48px;
  height: 48px;
  padding: 0;
  align-self: flex-end;
}

.icon {
  width: 24px;
}

@media (max-width: 720px) {
  .wrapper {
    flex-direction: column;
  }
}
