.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-md);
  background: var(--main-color);
  gap: var(--spacing-xxl);
  width: 80%;
  border-radius: var(--border-radius);
}

.image {
  max-width: 35vh;
  height: 100%;
}
