.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  padding: var(--spacing-xxl) var(--spacing-xl);
  gap: var(--spacing-xxl);
  width: 100%;
  border-radius: var(--border-radius);
}

.image {
  max-width: 35vh;
  height: 100%;
}

@media (max-width: 720px) {
  .wrapper {
    flex-direction: column;
  }
}
