.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: var(--spacing-xxl);
}

@media (max-width: 720px) {
  .wrapper {
    width: 100%;
  }
}
