.header {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-xxl);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
