.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: var(--spacing-lg);
}

.title {
  display: flex;
  font-size: var(--font-size-subtitle);
  font-weight: 600;
  gap: var(--spacing-sm);
  align-items: center;
}

.company {
  font-weight: 600;
  color: var(--gray-color);
}

.description {
  width: 95%;
  font-size: var(--font-size-xxl);
}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 95%;
}

.errorMessage {
  display: flex;
  gap: var(--spacing-sm);
  color: var(--error-color);
}

.errorIcon {
  width: 24px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
