.wrapper {
  background: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-color);
}

.heading {
  font-size: var(--font-size-title);
  font-weight: 700;
  color: var(--font-color);
  padding-bottom: var(--spacing-xxl);
}
