.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  color: var(--font-color);
  padding: var(--spacing-xl) 0;
  font-size: var(--font-size-sm);
  border-top: 1px solid var(--gray-color);
}
