.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  padding: var(--spacing-xxl);
  margin: auto 0;
  gap: var(--spacing-md);
  height: 90vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--spacing-lg);
  background-color: var(--main-color);
  padding: var(--spacing-xxl);
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
    justify-content: flex-start;
  }
}
