.checkBoxLabel {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg) var(--spacing-md);
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  background-color: var(--main-color);
  width: 100%;
}

.checkBoxLabel:hover {
  border-color: var(--element-color);
}

.checkBoxLabelCheck {
  border-color: var(--element-color);
  background-color: #f9f9f9;
}

.checkBoxInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid var(--gray-color);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: border-color 0.25s ease, background-color 0.25s ease,
    box-shadow 0.25s ease;
}

.checkBoxInput:hover {
  border-color: var(--element-color);
  color: var(--element-color);
}

.checkBoxLabel:hover .checkBoxText {
  color: var(--element-color);
}

.checkBoxInput:checked {
  background-color: var(--element-color);
  border-color: var(--element-color);
}

.checkBoxInput:checked::before {
  content: "■";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 18px;
  color: #fff;
}

.checkBoxText {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--font-color);
}

.checkBoxInput:checked + .checkBoxText {
  color: var(--element-color);
}
