.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: var(--spacing-xxl);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  color: var(--font-color);
}

.icon {
  width: 40px;
  color: var(--element-color);
}

@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    padding: 0;
    gap: var(--spacing-lg);
  }
  .content {
    flex-direction: column;
  }
}
