.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: var(--spacing-xxl);
  margin: var(--spacing-xxl) 0;
}

@media (max-width: 1280px) {
  .wrapper {
    margin: var(--spacing-md) 0;
  }
}
