.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: var(--spacing-xxl);
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--spacing-xxl);
}

.profileWrapper {
  display: flex;
  width: 30%;
}

.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-xl);
  min-height: 300px;
}

.icon {
  width: 10rem;
  margin: 0 auto;
  color: var(--element-color);
}

.email {
  font-size: var(--font-size-xl);
  color: var(--font-color);
  font-weight: 600;
}

.company {
  font-size: var(--font-size-base);
  color: var(--element-color);
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
}

.company:hover {
  border: 1px solid var(--gray-color);
  cursor: pointer;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  width: 90%;
}

.linkCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-md);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s;
}

.linkIcon {
  width: 3rem;
  color: var(--border-color);
}

.linkCard:hover {
  border-color: var(--element-color);
  transform: scale(1.01);

  .linkIcon,
  .linkDescription {
    color: var(--element-color);
  }
}

.linkCard:active {
  border-color: var(--element-color);
  transform: scale(0.98);
}

.linkLabel {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--element-color);
}

.linkDescription {
  font-size: var(--font-size-base);
  color: var(--font-color);
}

.statWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;
  padding: 0 var(--spacing-lg);
  gap: var(--spacing-md);
}

.statList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
}

.statCard {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 125px;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-color);
}

.statCard .statContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-left: 5px solid var(--element-color);
}

.label {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--font-color);
}

.count {
  font-size: var(--font-size-subtitle);
  font-weight: 700;
  color: var(--element-color);
}

.statCard .iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
}

.statCard .icon {
  width: 40px;
}
