.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: var(--spacing-lg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 100%;
}

.actionsRow {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    gap: var(--spacing-lg);
  }

  .content {
    gap: var(--spacing-lg);
  }
}
