.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: var(--spacing-xxl);
}

.content {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
  width: 100%;
}

.tableSelector {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: var(--spacing-xl);
}

.tableSelectorButton {
  width: 100px;
  height: 100px;
  margin: 0;
  border: 1px solid transparent;
}

.selectTableBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-subtitle);
  color: var(--gray-color);
  border-radius: var(--border-radius);
  width: 100%;
  min-height: 100%;
  background-color: var(--main-color);
}

@media (max-width: 1280px) {
  .content {
    flex-direction: column;
  }

  .tableSelector {
    width: 100%;
    flex-direction: row;
  }
}
