.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: var(--spacing-xxl);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 600;
  color: var(--font-color);
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: var(--spacing-xxl);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-xxl);
}

.social {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  display: flex;
  margin: 0 auto;
  padding: var(--spacing-md);
  transition: transform 0.3s ease;
}

.social:hover {
  transform: scale(1.02);
}

.socialImg {
  width: 75px;
  height: 75px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.icon {
  width: 3rem;
  color: var(--element-color);
}
