.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: var(--spacing-xxl);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 600;
  color: var(--font-color);
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: var(--spacing-xxl);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-xxl);
}

.social {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxl);
  transition: transform 0.3s ease;
  font-size: var(--font-size-xxl);
  color: var(--font-color);
}

.social span {
  display: none;
}

.social:hover {
  transform: scale(1.02);
}

.socialImg {
  width: 75px;
  height: 75px;
  user-select: none;
  -webkit-user-drag: none;
}

.container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.icon {
  width: 3rem;
  color: var(--element-color);
}

@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }
  .socials {
    width: 90%;
    flex-direction: column;
    justify-content: center;
  }
  .social span {
    display: flex;
  }
}

@media (max-width: 720px) {
  .wrapper {
    width: 95%;
    padding: 0;
    gap: var(--spacing-lg);
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
    padding: 0;
    gap: var(--spacing-md);
  }
}
