.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: var(--spacing-xxl);
}

.title {
  font-size: var(--font-size-title);
  font-weight: 600;
  color: var(--font-color);
}
